body {
    background-color: #e6dfd5;
    width: 250px;
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

h1 {
    color: rgb(225, 128, 11);
}

h2 {
    color: rgb(225, 128, 11);
    font-size: 2.5em;
    margin: 5px;
}

.source {
    color: rgb(164, 156, 147);
    font-size: 0.75em;
}

a {
    color: rgb(225, 128, 11);
    text-decoration: none;
    font-size: 1em;
}

button {
    background-color: rgb(225, 128, 11);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 1.2em;
    cursor: pointer;
}

#global_ranking {
    color: rgb(164, 156, 147)
}


.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.progress{
    position: relative;
    display: none;
    height: 10px;
    width: 150px;
    border: 10px solid #f4a261;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.papaya {
    width: 75px;
    height: 75px;
}

.progress .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 2s 1 linear;    
}
@keyframes progres {
    0%{
      width: 0px;
    }
    25%{
        width: 30px;
    }
    50%{
        width: 60px;
    }
    75%{
        width: 100px;
    }
    100%{
        width: 150px;
    }
};
